In [1]:
import numpy as np
import pandas as pd
np.random.seed(123)

n_samples=1000
n_ratio=0.9
n_class_0=int(n_samples*n_ratio)
n_class_1=n_samples-n_class_0

In [2]:
## creating the imbalanced dataset

class_0=pd.DataFrame({
    "feature_1":np.random.normal(loc=0,scale=1,size=n_class_0),
    "feature_2":np.random.normal(loc=0,scale=1,size=n_class_0),
    "target":[0]*n_class_0
})

class_1=pd.DataFrame({
    "feature_1":np.random.normal(loc=0,scale=1,size=n_class_1),
    "feature_2":np.random.normal(loc=0,scale=1,size=n_class_1),
    "target":[1]*n_class_1
})

In [3]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [4]:
df.tail()

     feature_1  feature_2  target
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

In [5]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [6]:
df['feature_1'].std()

0.9982006688795354

In [7]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [8]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [9]:
## sampling of the dataset


##case of upsampling
from sklearn.utils import resample
minority_upsample=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [11]:
minority_upsample.shape

(900, 3)

In [12]:
df_upsampled=pd.concat([df_majority,minority_upsample])

In [13]:
df_upsampled.shape

(1800, 3)

In [14]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [15]:
### now we do down_Sampling

df_majority=df[df['target']==0]
df_minority=df[df['target']==1]

In [30]:
majority_downsample=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [31]:
majority_downsample.shape

(100, 3)

In [32]:
df_downsampled=pd.concat([df_minority,majority_downsample])

In [33]:
df_downsampled.shape

(200, 3)

In [34]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

## downsampling problem
In the downsampling we loose huge amount of data

## the upsampling  we use replace=True
## in the downsampling we use replace=False